<configuration>

    <property name="LOG_PATTERN"
              value="%d{yyyy-MM-dd HH:mm:ss} | %highlight(%5.5level) | %yellow(%36.36logger{0}) - %msg%n"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/application.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/application-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </root>

    <logger name="ch.gatzka" level="DEBUG"/>
    <logger name="ch.gatzka.ApplicationUtils" level="INFO"/>
    <logger name="ch.gatzka.repository" level="INFO"/>
    <logger name="ch.gatzka.service.DataProviderService" level="INFO"/>
    <logger name="org.atmosphere.cpr.AtmosphereFramework" level="WARN"/>
    <logger name="org.jooq.Constants" level="WARN"/>
    <logger name="org.jooq.tools.LoggerListener" level="WARN"/>

</configuration>