openapi: 3.0.0
info:
  title: Tarkov Market API
  description: API for accessing Tarkov Market data.
  version: 1.0.0
  termsOfService: https://tarkov-market.com/terms

servers:
  - url: https://api.tarkov-market.app/api/v1

paths:
  /items/all:
    get:
      summary: Get all items
      responses:
        '200':
          description: A list of items
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Item'
  /pve/items/all:
    get:
      summary: Get all PVE items
      responses:
        '200':
          description: A list of PVE items
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Item'
components:
  schemas:
    Item:
      type: object
      properties:
        uid:
          type: string
        name:
          type: string
        tags:
          type: array
          items:
            type: string
        shortName:
          type: string
        price:
          type: integer
        basePrice:
          type: integer
        avg24hPrice:
          type: integer
        avg7daysPrice:
          type: integer
        traderName:
          type: string
        traderPrice:
          type: integer
        traderPriceCur:
          type: string
        traderPriceRub:
          type: integer
        updated:
          type: string
          format: date-time
        slots:
          type: integer
        diff24h:
          type: number
        diff7days:
          type: number
        icon:
          type: string
          format: uri
        link:
          type: string
          format: uri
        wikiLink:
          type: string
          format: uri
        img:
          type: string
          format: uri
        imgBig:
          type: string
          format: uri
        bsgId:
          type: string
        isFunctional:
          type: boolean
        reference:
          type: string
          format: uri
        bannedOnFlea:
          type: boolean
        haveMarketData:
          type: boolean
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key

security:
  - apiKeyAuth: [ ]
